<!DOCTYPE html>
<html>
    <head>
        <title>LETS BE A MEMBER</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
        <meta name="keywords" content="" />
        <!-- css files -->
       
        <link type="text/css" rel="stylesheet" href="../styles/style.css"  media="screen,projection"/>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>

<body>

    <div id="id01" class="modal">    
        <form class="modal-content" action="/user/verify/captcha" method="POST">
            <div class="container">
            <div class="g-recaptcha" data-sitekey="6LdufX4UAAAAAGndKcAANmDa0-oZSAqp2ksdYl2z"></div>
            <button type="submit" value="submit">Submit</button>

            </div>
        </form>
    </div>
</body>
</html>
